<!DOCTYPE html>
<html>
<title>Fake Job</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('static/1.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white" >
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    
  </div>
  <div class="w3-display-middle">
    <h2 class="w3-jumbo w3-animate-top">ATTENTION LOOKS LIKE THIS IS FRAUD !</h2>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">Make sure that your “ideal position” is not just a scam to prey on earnest job-seekers.

        While you are working hard to ensure that you land an ideal opportunity, be aware that the perfect job may not be so perfect. Con artists and scammers post fraudulent jobs that can be difficult to spot. Review the red flags below and learn tips on how to protect yourself if you may have applied for a fraudulent job. In addition, explore the Fraudulent Postings are Getting Harder to Spot blog post for additional information about the newest tactics impostors are using to hook you.</p>
  </div>
  
</div>

</body>
</html>