<form action="predict" method='POST'>

    {% csrf_token %}
    Location : <input type="text" name="loc"><br><br>
    Employment Type : <input type="text" name = "employment_type"><br><br>
    Title : <input type="text" name = "title"><br><br>
    Company profile <input type="text" name = "company_profile"><br><br>
    Desc <input type="text" name = "description"><br><br>
    Requirements <input type="text" name = "requirements"><br><br>
    Benefits <input type="text" name = "benefits"><br><br>
    Has Questions : <input type="text" name = "has_questions"><br><br>
    Has Salary Range : <input type="text" name = "salary_range"><br><br>
    <input type="submit">
</form>