<!DOCTYPE html>
<html>
<title>Real Job</title>
<body>
<script src="confetti.js"></script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
h2 {text-align: center;}
h1 {text-align: center;}
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 99.8%}
.bgimg {
  background-image: url('static/approve.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-black" >
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    
  </div>
  <div class="w3-display-top">
    <h1 class="w3-jumbo w3-display-top w3-animate-top ">CONGRATULATIONS!</h1>
    <hr class="w3-border-grey " style="margin:auto;width:40%">
    <h2 class="w3-large " style="font-size:30px ">The provided job description is genuine you can go head and apply to this job .</h2><br>
    <p style="font-size:30px">ALL THE BEST !</p>
  </div>
  
</div>

</body>
</html>